@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Ubuntu:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Overpass' , sans-serif;
}
header{
    position: relative;
    padding: 1.2rem 1.2rem
}
.section1{
    background: url("./images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.begin{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.begin a{
    font-size: 2rem;
   color: #fff;
}
.begin span{
    font-size: 1.3rem;
    cursor: pointer;
    transition: .3s;
    color: #fff;
}
nav{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #000;
    color: #fff;
    padding: 2rem 1rem;
    height: 100vh;
    z-index: 1000;
}
.response{
display: flex;
align-items: center;
justify-content: space-between;
 
}
header .nav1{
    display: none;
}
.response a {
    font-size: 2rem;
}
.response span{
    font-size: 1.3rem;
    cursor: pointer;
}
.nav{
    margin-top: 5rem;
}
.nav ul li{
    padding-bottom: 1rem;
    cursor: pointer;

}
.nav ul li:hover{
    transition: color  .3s ease-in-out;
    color: red;
}
.nav li{
    font-size:1.3rem;
    font-weight: 500;
}
.hide {
    transform: translateX(-100%);
    transition: .3s ease-in-out;
}
.cont{
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content1{
  width: 90%;
  margin: auto;
  border: 2px solid #fff;
  padding: .5rem 0;
  padding-left: 1rem;
  color: #fff;
}
.content2{
    width: 90%;
    margin: auto;
    display: none;

    padding: .5rem 0;
    padding-left: 1rem;
    color: #fff; 
}
.content2 .grin{
width: 400px;
padding-left: 2rem;
    border: 2px solid #fff;
 
}
.content2 .grin h1{
    font-size: 3rem;
}

.section2{
    padding-top: 7rem;
}
.lead{

    width: 90%;
    margin: auto;
    display: grid;
}
.lead img{
    width: 100%;
    height: 100%;
}
.para{
    margin-top: 2rem;
}
.para h2{
    text-align: center;
    font-size: rem;
    text-transform: uppercase;
}
.para p{
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}
.part2{
    margin-top:4rem;
}
.part2 h2{
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 3px;
    display: grid;
}
.img-container{
    width: 90%;
    margin: auto;
    display: grid;
}
.img{
    width: 90%;
    margin: auto;
    position: relative;
    margin-bottom: 1rem;
}
.img h2{
    position: absolute;
    color: #fff;
    top: 32%;
  left: 20px;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}
.button button{
   width: 200px;
   padding: 10px 0;
   border: 2px solid black;
   background: none;
   font-size: 20px;
   letter-spacing: 2px;
}
footer{
    background: #000;
    color: #fff;
   
}
footer .ftcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  padding-top: 5rem;
  
}
footer .ftcontent h2{
    font-size: 3rem;
}
footer .ftcontent ul{
    margin-top: 1rem;
    cursor: pointer;
}
footer .ftcontent li{
    padding-bottom: 10px;
    font-size: 2rem;
}
footer .ftcontent .socials{
    display: flex;
    margin-top: 2rem;
    cursor: pointer;
margin-right: 5rem;
}

footer .ftcontent .img{
    padding-left: 1rem;
    width: 55px;
    transition: .3s ease-in-out;
}

footer .ftcontent .textct h2{
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 5rem;
}
.pro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5rem;
    display: none;
}
.pro h2{
  
    padding-bottom: 1rem;
}
.btn{
    margin-top: 3.3rem;
    width: 150px;
  
}
.btn button{
    font-size: 17px;
    padding: 3px;
}
.img-container.open{
    display: none;
}
.ft2{
    display: none;
}
@media (min-width: 800px) {

    .begin span{
        display: none;
    }
    header .nav1{
        display: flex;

    }
    header .nav1 ul{
        display: flex;
        cursor: pointer;
    }
    header .nav1 ul li{
        display: flex;
        padding-left: 1rem;
        color: #fff;
    }
    header{
        position: relative;
        padding: 1.2rem 3rem
    }
    .content1{
        width: 85%;
        margin: auto;
        border: 2px solid #fff;
      
        padding: .5rem 0;
        padding-left: 1rem;
        color: #fff;
      }
      .content1{
        display: none;
      }
      .content2{
        display: block;
      }
      .lead{
  position: relative;
        width: 90%;
        margin: auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .lead .li{
        position: relative;
    }
    .para{
  position: absolute;
  background: #fff;
  width: 450px;
left: 38%;
  top: 20%;
  padding-bottom: 2rem;
    }
    .para h2{
        margin-top: 1.5rem;
    }
    .part2{
      padding-top: 3rem;
    }
    .part2 h2{
        text-align: center;
        margin-bottom: 2rem;
        letter-spacing: 3px;

    }
    .pro2{
        display: none;
    }
    .pro{
        display: flex;
    }
    .img-container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 5rem;
    }
    .img-container .img{
        width: 170px;
        height: 250px;
    }
    .img-container.close{
        display: none;
    }
    .img-container.open{
        display: grid;
    }
    .img-container.open .img h2{
  position: absolute;
  top: 70%;

    }

    .img-container .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .button{
        display: none;
    }
    footer{
        display: none;
    }
    .footer{
        background: #000;
        color: #fff;
        line-height: 1px;
    }
    .ft2{
        display: block;
    }
    .footer .ftcontent{
/*    padding-left: 2rem;
 
; */
padding-right: 3rem;   
padding-bottom: 2rem;
    }
    .footer .ftcontent .textct{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer .ftcontent h2{
        font-size: 1rem;
    }
    .footer .ftcontent ul{
      margin-left: 2rem;
        cursor: pointer;
        display: flex;
    }
    .footer .ftcontent li{
        padding-bottom: 10px;
        font-size: 1rem;
        padding-left: 1rem;
    }
    .footer .ftcontent .socials{
        display: flex;
        margin-top: 2rem;
        cursor: pointer;
        margin-right: rem
    }
    .footer .ftcontent .loop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 3rem;
   
    }
    .footer .ftcontent .img{
        padding-left: 1rem;
        width: 40px;
    }

}
@media (min-width: 900px){

    .img-container .img{
        width: 190px;
        height: 300px;
    }
}
@media (min-width: 1000px){

    .img-container .img{
        width: 210px;
        height: 350px;
        
    }
  
}
@media (min-width: 1100px){

    .img-container .img{
        width: 230px;
        height: 350px;
        
    }

}
@media (min-width: 1100px){

    .img-container .img{
        width: 270px;
        height: 400px;
        
    }

}
@media (min-width: 1110px){

    .img-container .img{
        width: 230px;
        height: 400px;
        
    }

}
@media (min-width: 1200px){

    .img-container .img{
        width: 240px;
        height: 400px;
        
    }

}
@media (min-width: 1350px){

    .img-container .img{
        width: 280px;
        height: 400px;
        
    }

}
@media (min-width: 1350px){

    .img-container .img{
        width: 270px;
        height: 450px;
        
    }

}
@media (min-width: 1590px){

    .img-container .img{
        width: 350px;
        height: 450px;
        
    }
    .img-container{
        background: #000;
    }

}
@media (min-width: 1600px){

    .img-container .img{
        width: 350px;
        height: 450px;
        
    }
    .img-container{
        background: #000;
    }

}
